{% extends "front.twig" %}

{% block title %}
    <title>Connexion | LISTaGAME</title>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm col-connexion-left">
            <h2>Déjà inscrit ?</h2>
            <p>Identifiez-vous.</p>

            <form method="post" action="{{ HOST }}login">
                <div class="form-group">
                    <input type="email" class="form-control" id="identificationEmail" name="mail" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="identificationPassword" name="password" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">S'identifier</button>   
            </form>

        </div>
        <div class="col-sm">
            <h2>Créer son compte</h2>
            <p>Inscription rapide.</p>

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inscriptionNickname" placeholder="Pseudo">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="inscriptionEmail" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inscriptionPassword" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmationPassword" placeholder="Confirmer le mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>

{% endblock %}